.header {
    padding: 0.5rem;
    padding-left: 3rem;
    background-color: rgb(190, 247, 209);
}

.yoga-icon {
    color: white;
    margin-right: 0.3rem;
}

.header-text {
    color: rgb(3, 164, 73);
}